.square {
  border: 2px solid black;
  height: 200px;
  width: 200px;
  font-size: 150px;
  text-align: center;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  height: 600px;
  margin: 0 auto;

}

.header {
  text-align: center;
}

.currentplayer {
  text-align: center;
}